{% extends 'public/profile/layout.html' %}
{% block profile_title %}
{% endblock profile_title %}
{% block profile_body %}
    <section>

        <!-- tabs start -->
        <!-- ================ -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs style-1" role="tablist">
            <li {% if request.path==url_for('.profile_messages') %}class="active"{% endif %}><a
                    href="{{ url_for('.profile_messages') }}"><i
                    class="fa fa-home pr-10"></i>KampusXchange</a></li>
            <li {% if request.path==url_for('.profile_cust_messages') %}class="active"{% endif %}><a
                    href="{{ url_for('.profile_cust_messages') }}"><i class="fa fa-users pr-10"></i>Customers</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active">
                <!-- comments start -->
                <div class="comments margin-clear space-top">
                    {% for obj in results.items %}
                        <!-- comment start -->
                        <div class="comment clearfix">
                            <div class="comment-avatar">
                                <img class="img-circle" src="{{ obj.user.profile_pic }}" alt="avatar">
                            </div>
                            <header>
                                <h3>{{ obj.subject }}</h3>
                                <div class="comment-meta">{{ moment(obj.date_created).format('MMM Do, YYYY') }} |
                                    <small class="caption">{{ moment(obj.date_created).calendar() }}</small>
                                </div>
                            </header>
                            <div class="comment-content">
                                <div class="comment-body clearfix">
                                    <p>{{ obj.body }}</p>
                                    <a href="" class="btn-sm-link link-dark pull-right"><i
                                            class="fa fa-reply"></i> Reply</a>
                                </div>
                            </div>
                        </div>
                        <!-- comment end -->
                    {% endfor %}
                    {% include 'public/snippets/pagination.html' %}
                </div>
                <!-- comments end -->

            </div>
        </div>
        <!-- tabs end -->
    </section>
{% endblock profile_body %}
