{% extends 'public/layout.html' %}
{% block body %}
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-8 col-lg-offset-1 col-md-push-4 col-lg-push-3">

				{% block profile_body %}
				{% endblock profile_body %}

			</div>
			<!-- main end -->

			<!-- sidebar start -->
			<!-- ================ -->
			<aside class="col-md-4 col-lg-3 col-md-pull-8 col-lg-pull-9">
				<div class="sidebar">
					<div class="block clearfix">
						<div class="footer-content">
							<h2 class="title">My Account</h2>
							<div class="separator-2"></div>
							<nav class="mb-20">
								<ul class="nav nav-pills nav-stacked list-style-icons">
									<li><a href="components-social-icons.html"><i class="icon-tools"></i> Products</a></li>
									<li><a href="components-social-icons.html"><i class="icon-tools"></i> Messages</a></li>
									<li><a href="components-forms.html"><i class="icon-heart"></i> Wish List</a></li>
									<li><a href="components-tabs-and-pills.html"><i class="icon-chat"></i> Notifications</a></li>
									<li><a href="components-social-icons.html"><i class="icon-tools"></i> Settings</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</aside>
			<!-- sidebar end -->

		</div>
	</div>
</section>
<!-- main-container end -->
{% endblock body %}
