{% extends "admin/layout.html" %}

{% block body %}
<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
  <section class="wrapper site-min-height">
    <h2>
      {{page_title}}
      <a href="#" class="btn btn-success pull-right">Add</a>
    </h2>
    <div class="row mt mb">
        {% for obj in results.items %}
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
        <div class="project-wrapper">
          <div class="project">
            <div class="photo-wrapper">
              <div class="photo">
                <a class="fancybox" href="{{ obj.url }}"><img class="img-responsive" src="{{ obj.url }}" alt=""></a>
              </div>
              <div class="overlay"></div>
            </div>
          </div>
        </div>
      </div><!-- col-lg-4 -->
        {% endfor %}
    </div><!-- /row -->
  </section>
</section><!-- /MAIN CONTENT -->
{% endblock body %}